{% include "includes/header.html" %}

{% block head %}
<body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 mt-2 p-3 text-center fs-2 fw-4">
                <i style="font-style: oblique;">choose your design for birthday card</i>
            </div>
            <div class="col col-sm-12 col-md-6 mt-5 p-3">
                <div class="rounded">
                    <img src="https://marketplace.canva.com/EAFYJKGkaTQ/2/0/1600w/canva-white-and-gold-modern-greeting-happy-birthday-card-YQuXbM7Sca8.jpg" class="img-fluid rounded" alt="...">
                </div>
            </div>
            <div class="row">
                <div class="col p-4">
                    <i>Birthdays are a big deal — those special days in the year when we celebrate our favorite people for making another trip around the sun. Adding a personal happy birthday message in a birthday greeting card for someone is an awesome way to make them feel amazing on their special day</i>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}
    {% block foot %}
    {% endblock %}
    
</body>
{% endblock %}